<div class="funnel">
  <ul class="funnel__list">
    @for (row of rows(); track row.label) {
      <li class="funnel__row">
        <span class="funnel__label">{{ row.label }}</span>
        <span class="funnel__track">
          <svg class="funnel__shape" [attr.viewBox]="viewBox" preserveAspectRatio="none">
            <polygon [class]="'funnel__fill funnel__fill--' + row.variant" [attr.points]="row.points" />
          </svg>
        </span>
        <span class="funnel__value">
          {{ row.value }}
          <span class="funnel__pct">{{ row.pct }}%</span>
        </span>
      </li>
    }
  </ul>
  <div class="funnel__foot"><ng-content></ng-content></div>
</div>
